<div class="card employee-card">
    <div class="card-header">
        <h2 class="card-title"> Ryan Carless</h2>
        <h3 class="card-title"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: 99612789</li>
            <li class="list-group-item">Email: <a href="mailto:{{ email }}"> notreal26@gmail.com</a></li>
            <li class="list-group-item">Office number: 123-456-7890</li>
        </ul>
    </div>
</div>
